// Colors 
$primary-color: #E0AB18;
$secondary-color: #333;
$tertiary-color: #19232d;
$trans-color-dark: rgba(0,0,0,0.35);

// Font Colors
$primary-color-font: #454545;
$secondary-color-font: #767676;
$tertiary-color-font: #ffffff;
$link-color: #65c178;

// Background Colors
$primary-color-background: #f9f9f9;
$secondary-color-background: #f2f2f2;
$tertiary-color-background: #ffffff;
$quaternary-color-background: #333333;

// Border Colors
$primary-color-border: #e4e4e4;