// Colors 

$green: #65c178;
$blue: #3a96e8;
$purple: #9b59b6;
$red: #e74c3c;
$orange: #e67e22;
$grey-light: #ecf0f1;
$grey-dark: #95a5a6;
$white: #efefef;

$primary-color: #65c178;
$secondary-color: #455469;
$tertiary-color: #19232d;
$trans-color-dark: rgba(0,0,0,0.35);

// Font Colors
$font-color-primary: #767676;
$font-color-secondary: #fff;
$font-color-tertiary: #ccc;
$link-color: #65c178;

$primary-font: #333;

// Background Colors
$light-grey: #F2F2F2;
$light-grey-lighter: #F9F9F9;
$bg-color-primary: #fff;
$bg-color-secondary: #2f3c4d;
$bg-color-header: #31323a;

$border-color-primary: #ccc;

// Button Colors 
$primary-button: #34495e;
$secondary-button: #2980b9;

// Border Colors
$border-color-primary: #e7e7e7;
$border-color-secondary: #353535;