h1, h2, h3, h4, h5 {
    .fa {
        color: lighten($primary-color-font, 10%);
    }
}

/* PANELS */
.panel {
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $primary-color-border;
    &:last-of-type {
        border-bottom: none;
    }
    &:first-of-type {
        margin-top: 30px;
    }
    @include media(min, $tablet-large) {
        margin-bottom: 30px;
        padding-bottom: 30px;
    }
}

.panel__inner {
    @extend .group;
    @include media(min, $desktopmaxplus40) {
        width: 100%;
        margin: 0 auto;
    }
}

/* PANEL FEATURES */
.panel-features {
    @include media(min, $mobile-landscape) {
        @include grid(1, 1);
        background-color: transparent;
        img {
            width: 90%;
            margin: 0 auto;
        }
        h2 {
            color: $primary-color-font;
            text-align: center;
            font-size: em(32px);
            margin-bottom: em(18px);
        }
    }
}

.panel-features-top-spacer {
    padding-top: 63px;
}

.panel-features__inner {
    @extend .group;
}

.panel-features__block {
	@include grid(1, 1);
    margin-bottom: 1em;
    
    &:last-of-type {
        margin: 0;
    }
    @include media(min, $mobile-landscape) {
        img {
            width: 100%;
        }
    }
    @include media(min, $desktop) {
        @include grid(1, 3);
        text-align: center;
        float: left;
    }
}

.panel-features__block--tile {
    padding: 20px;
    border-radius: 10px;
    background-color: $tertiary-color-background;
    border-bottom: 4px solid $primary-color-border;
    overflow: hidden;
    .fa {
        color: $primary-color;
        cursor: pointer;
        &:hover { 
        	animation: 2s ease 0.5s normal none 1 flash; 
        }
     }
    .fa-circle {
        color: darken($primary-color-background,2%);
    }
    h3 {
        font-size: 20px;
        font-weight: bold;
        color: $secondary-color;
        margin-left: 70px;
        margin-bottom: 5px;
        @include media(min, $desktop) {
        	margin-left: 0;
        }
    }
    p {
	    margin-left: 70px;
	    margin-bottom: 0;
	    color: lighten($primary-color-font,20%);
	    @include media(min, $desktop) { 
	    	margin-left: 0;
	    }
    }
    span.fa-stack {
	    float: left;
	    @include media(min, $desktop) {
	    	float: none;
	    }
	    &.fa-4x {
		    font-size:  em(30px);
		    @include media(min, $desktop) {
		    	font-size: 4em;
		    }
	    }
    }
}

/* PANEL TESTIMONIALS */
.panel-testimonials {
    @include grid(1, 1);
    background-color: transparent;
    h2 {
        text-align: center;
        font-size: em(32px);
        margin-bottom: em(12px);
    }
    @include media (min, $tablet) {
	    hr {
		    display: none;
	    }
    }
}

.panel-testimonials__inner {
	div.block-3 {
		@include media(min, $desktop) {
			&:nth-child(2n+1) {
				clear: left;
			}
		}
		@include media(min, $desktopmax) {
			&:nth-child(2n+1) {
				clear: none !important;
			}
			&:nth-child(3n+1) {
			clear: left;
			}
		}
	}
	div.block-2 {
		@include media(min, $desktop) {
			&:nth-child(2n+1) {
				clear: left;
			}
		}
	}
}	    

.panel-testimonials__block {
    margin-bottom: 2em;
    div {
        margin-left: 85px;
    }
    p {
	    margin-bottom: 10px !important;
    }
    img {
        width: 75px;
        @include border-radius;
        float: left;
    }
    .fa {
	    color: lighten($primary-color-font,60%);
    }
    @include media(min, $mobile-landscape) {
        @include grid(1, 2);
        float: left;
    }
    @include media(min, $desktop) {
        @include grid(1, 2);
    }
    @include media(min, $desktopmax) {
        @include grid(1, 3);
    }
    &.block-2 {
        @include media(min, $tablet-large) {
            @include grid(1, 2);
        }
    }
    &.block-1 {
        @include grid(1, 1);
    }
}

p.panel-testimonials__author {
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    span {
        color: $primary-color;
    }
}

.testimonial-row {
    @extend .group;
}

/* PANEL CLOSE */
.panel-close {
    @include grid(1, 1);
    background-color: $primary-color-background;
    img {
        width: 90%;
        margin: 0 auto;
    }
    h2 {
        text-align: center;
    }
    p {
        &.leading {
            font-size: 125%;
            span {
                background-color: #fffdcc;
                padding: 1px 3px;
                vertical-align: baseline;
            }
        }
    }
}

.panel-close__inner {
    text-align: center;

    p {
        font-size: 125%;
        span, em {
            background-color: #fffdcc;
            padding: 1px 3px;
            vertical-align: baseline;
        }
    }
}

.panel-close__block {
    margin-bottom: 1em;
    @include media(min, $mobile-landscape) {
        @include grid(1, 2);
        float: left;
        img {
            width: 100%;
        }
    }
    @include media(min, $tablet-large) {
        @include grid(1, 3);
    }
}

/* PANEL ABOUT */
.panel-about {
    h3 {
        margin-bottom: 10px;
    }
    p {
        margin-bottom: 10px;
    }
    img {
        margin-bottom: 20px;
    }
    @include media(min, $tablet-large) {
        img {
            float: left;
            padding-right: 20px;
            padding-left: 0 !important;
            @include grid(6, 12);
        }
        p {
            float: left;
        }
    }
}

.panel__inner-about-wrapper {
    @include media(min, $tablet-large) {
        @include grid(6, 12);
        float: left;
    }
}

.panel__inner-about-wrapper-full {
    @include media(min, $tablet-large) {
        @include grid(12, 12);
    }
}

/* HOME CTA */
.home-cta {
    background-color: lighten($quaternary-color-background,10);
    color: $primary-color-font;
    position: relative;
    border-bottom: 3px solid rgba(0, 0, 0, 0.9);
    @extend .group;
    h2 {
    	color: $tertiary-color-font;
    	text-shadow:0px 0px 2px #333333;
        font-size: em(22px);
        margin-bottom: em(8px);
        position: relative;
        line-height: 1.5em;
        padding: $grid-gutter;
        padding-left: 0px;
        padding-bottom: 0;
        @include media(min, $mobile-landscape) {
            font-size: em(28px);
        }
    }
}

.home-cta__background {
    background-color: transparent;
    background-image: url(../img/wallpaper_01.jpg);
    background-size: cover;
    background-position: -120px -90px;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    padding: 2em 1em 0;
    z-index: 1;
    opacity: 0.25;
    width: 100%;
    height: 100%;
    @include media(min, $tablet) {
    	background-position: center center;
    }
    @include media(min, $desktopmax) {
        padding: 2em 1em 0;
        background-size: cover;
    }
}

.home-cta__holder {
	position: relative;
	bottom: -3px;
	background-color: $primary-color-background;
	background-repeat: repeat;
    border-radius: 5px;
    overflow: hidden;
    padding: 15px 0 0;
    border-left: 3px solid rgba(0, 0, 0, 0.9);
    border-radius: 10px 10px 0 0;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-right: 3px solid rgba(0, 0, 0, 0.9);
    border-top: 3px solid rgba(0, 0, 0, 0.9);
}

.home-cta__inner {
    @extend .group;
    position: relative;
    z-index: 5;
    @include media(min, $desktopmaxplus40) {
        width: $desktopmax;
        margin: 0 auto;
    }
}

.home-cta__left {
    margin-bottom: 20px;
    padding: 0 1em;
    @include media(min, $tablet) {
        float: left;
        @include grid(9, 16);
    }
    @include media(min, $desktopmax) {
        float: left;
        @include grid(9, 16);
    }
}

.home-cta__right {
    padding: 0 1em;
    @include media(min, $tablet) {
        @include grid(7, 16);
        float: left;
    }
    @include media(min, $desktopmax) {
        @include grid(7, 16);
    }

    input[type="text"] {
        float: left;
        @include media(min, $mobile-landscape) {
        }
    }
    .form-half {
        @include grid(1, 2);
        margin-bottom: 10px;
        float: left;

        @include media(min, $tablet) {
            @include grid(1, 1);
        }

        @include media(min, $laptop) {
            @include grid(1, 2);
        }
    }
    .form-full {
        @include grid(1, 1);
        margin-bottom: 10px;
        float: left;
    }
    p {
        margin-bottom: 10px;
    }
}

.home-cta__right--form-element {
    padding: 0 10px;
}

.home-cta__left--check-list {
    li {
        position: relative;
        margin-bottom: em(3px);
        color: $secondary-color-font;
        font-weight: 500;
        color: rgba(255, 255, 255, 0.7);
        @include media(min, $mobile-landscape) {
            font-size: em(18px);
            margin-bottom: em(7px);
            font-weight: normal;
            .fa {
                line-height: 1.25em;
            }
        }
    }

    li:nth-child(1) {
        animation: 1s ease 1s pulse;
    }
    li:nth-child(2) {
        animation: 1s ease 2s pulse;
    }
    li:nth-child(3) {
        animation: 1s ease 3s pulse;
    }
    li:nth-child(4) {
        animation: 1s ease 4s pulse;
    }
    li:nth-child(5) {
        animation: 1s ease 5s pulse;
    }
    i.fa {
        margin-right: em(4px);
        color: $tertiary-color-font;
    }
}

.header-pattern {
    background-image: url("../img/pattern-01.png");
    opacity: 0.5;
    background-repeat: repeat;
    display: block;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

.ajax-loader {
    display: none;
}

/* CONTACT PAGE */
.panel-contact {
    @extend .group;
    border-bottom: 1px solid $primary-color-border;

    input[type="text"] {
        float: left;
        @include media(min, $mobile-landscape) {
        }
    }
    .form-half {
        @include grid(1, 2);
        margin-bottom: 10px;
        float: left;
    }
    .form-full {
        @include grid(1, 1);
        margin-bottom: 10px;
        float: left;
    }
    p {
        margin-bottom: 20px;
    }
}

/* ABOUT US */
.panel-meet-team {
    h2 {
        text-align: center;
    }
}

.panel-meet-team__team-member {
    margin-bottom: 30px;
    text-align: center;
    img {
        margin: 0 auto;
        @include border-radius(10px);
    }
    h3 {
        margin-bottom: 0;
    }
    p.team-title {
        color: $primary-color;
        font-weight: bold;
        margin-top: -5px;
        margin-bottom: 15px;
    }
    p.team-description {
    }

    @include media(min, $mobile-landscape) {
        @include grid(6, 12);
        float: left;
    }
}

.panel-meet-team-4-wide {
    .panel-meet-team__team-member {
        @include media(min, $tablet) {
            @include grid(3, 12);
        }
    }
}

.panel-meet-team-3-wide {
    .panel-meet-team__team-member {
        @include media(min, $tablet) {
            @include grid(4, 12);
        }
    }
}

/* SERVICES */
.panel-services {
    padding-bottom: 0;
}

.panel-services__block {
    float: left;
    margin-bottom: 0 !important;
    padding-bottom: 30px;

    h3 {
        margin-bottom: 5px
    }
    img {
        width: 100%;
        margin-bottom: 10px;
    }
    ul {
        margin-bottom: 0 !important;
    }
    p {
        margin-bottom: 0 !important;
    }
    @include media(min, $mobile-landscape) {
        @include grid(1, 2);
    }
    @include media(min, $tablet) {
        @include grid(1, 3);
        margin-bottom: 0;
    }
    &:last-child {
	    margin-bottom: 0 !important;
    }
}

.panel-why-us__choose {
    @include media(min, $tablet) {
        @include grid(1, 2);
        float: left
    }
}

.panel-why-us__contact {
    border-bottom: none;

    @include media(min, $tablet) {
        @include grid(1, 2);
        float: left;
    }

}

/* POST CONTENT */
.post-content {
    p, ul, dl, blockquote, ol {
        margin-bottom: $grid-margin;
    }

    ul li {
        list-style: square outside none;
        margin-bottom: 7px;
        margin-left: 14px;
    }
    ol li {
        list-style: decimal outside none;
        margin-bottom: 7px;
        margin-left: 14px;
    }

    input, textarea {
        margin-bottom: 12px;
    }
}