// Bordered & Pulled
// -------------------------

.#{$fa-css-prefix}-border {
  padding: .2em .25em .15em;
  border: solid .08em $fa-border-color;
  border-radius: .1em;
}

.alignleft { float: left; }
.alignright { float: right; }

.#{$fa-css-prefix} {
  &.alignleft { margin-right: .3em; }
  &.alignright { margin-left: .3em; }
}
